{% extends 'base.html' %}
{% block title %}
  Créer Categorie
{% endblock %}
{% block content %}
  <div class="row justify-content-center m-3">
    <div class="col-12 col-md-6">
        <h3 align="center">Ajouter un quizz</h3>
      <form method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">{{ form.title.label }}
          {{ form.title(class='form-control') }}</div>
        <div>
          <div class="mb-3">{{ form.category.label }}
            {{ form.category(class='form-control') }}</div>
          <div>
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
