{% extends 'base.html' %} {% block title %}
  categories list
{% endblock %} {% block content %}
  <div class="container">
    <div class="row my-5 justify-content-center">
      <h1 class="text-center">All categories</h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for category in categories %}
            <tr>
              <td>
                <a href="/categories/edit/{{ category.id }}">{{ category.name }}</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
